

body{
   
    border: 5px solid;
    border-radius: 4px;
    width: 1355px;
    padding: 10px;
    
}
    


header{
    display: block;
    border-radius: 4px;
   
    background: #999999;
    height: 200px;
    width: 1355px;
    text-align: center;
}
nav{
    display: block;
    border-radius: 4px;
    margin-top: 5px;
    background: #999999;
    height: 50px;
    width: 1355px;
    text-align: center;
}
.name1{
    display: block;
    float: left;
    background: #999999;
    border-radius: 4px;

    margin:5px;
    height: 500px;
    width: 900px;
    text-align: center;
}
.name2{
    display: block;
    float: left;
    background:  #999999;
    border-radius: 4px;

    margin: 4px;
    width: 435px;
    height: 500px;
    text-align: center;
}

p{
    margin: 0px;
    font-size: 30px;
    
}




footer{
    border-radius: 10px;
    display:block;
    clear:both;
    background: #999999;
    height: 100px;
    width: 1355px; 
    text-align: center;
}